body {
  background-image: url("../img/orange.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Segoe UI";
  font-size: 18px;
}

@font-face {
  font-family: "The Childrow";
  src: url("../fonts/TheChildrow.otf");
}
.teste {
  position: relative;
  top: 200px;
}
.perfis {
  position: fixed;
  bottom: 30%;
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  vertical-align: 150px;
}
.perfis img {
  width: 200px;
  border: 8px solid black;
  background-color: rgba(30, 39, 46, 1);
  border-radius: 100px 100px 100px 100px;
  transition: 0.5s;
}
.perfis img:hover {
  background-color: rgba(0, 0, 0, 0);
}
.perfis p {
  font-family: "The Childrow";
  font-size: 26px;
  padding-right: 30px;
  text-align: center;

  display: inline-block;
}
.perfis b {
  position: relative;
  top: 15px;
  color: whitesmoke;
  text-shadow: 4px 4px 8px black;
}
.perfis a {
  text-decoration: none;
}

.form-container {
  justify-content: center;
  width: 30%;
  margin: auto auto;
}
.textsection{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 80px;
}

.form-input,
.form-input:focus {
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.form-button {
  width: 100%;
  margin-top: 40px;
  height: 40px;
}

.form-cadastro {
  margin-top: 8px;
  text-align: end;
  font-size: 15px;
}
